html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  height: 48px;
  line-height: 48px;
  background-color: #50b83c;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: right;
}

button {
  background-color: #fff;
  border: none;
  color: #333;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 16px;
  cursor: pointer;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-container {
  position: relative;
  top: 48px;
  height: calc(100% - 48px);
  width: 100%;
  overflow: hidden;
}

.view-container .view {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  font-size: 30px;
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.view-container .view.view-list {
  transform: translateX(0);
  background-color: #EEC200;
  color: #595130;
}

.view-container .view.view-detail {
  transform: translateX(100%);
  background-color: #47C1BF;
  color: #405352;
}

.view-container.view-change .view.view-list {
  transform: translateX(-100%);
}

.view-container.view-change .view.view-detail {
  transform: translateX(0);
}

.moda-container {
  position: fixed;
  top: 0;
  left: 0;
}

.modal-view {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;
  opacity: 0;
  will-change: transform, opacity;

  transform: scale(1.15);
  transition: transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.modal-view.visible {
  pointer-events: auto;
  opacity: 1;

  transform: scale(1);

  transition:
    transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.modal-view:after {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  content: '';
  background-color: rgba(0, 0, 0, 0.08);
}

.modal-view-detail {
  position: relative;
  padding: 100px;
  background-color: white;
  z-index: 3;
  box-shadow: 0 10px 20px rgba(0,0,0,0.6);
}

.modal-view-detail  .modal-message {
  font-size: 16px;
}

.modal-view-detail .hide-modal {
  position: absolute;
  right: 16px;
  bottom: 16px;
  color: #108043;
}
